<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://unpkg.com/mustache@4.2.0/mustache.min.js"></script>
</head>
<body>
    <div id="header">
        <h1>Bem-vindo ao Sistema de Ingressos</h1>
    </div>

    <!-- Seção de Ingressos Disponíveis -->
    <div id="ingressos-disponiveis">
        <h2>Ingressos para Compra</h2>
        <div id="venda-container"></div>
    </div>

    <!-- Seção de Histórico -->
    <div id="historico-compras">
        <h2>Seu Histórico</h2>
        <div id="historico-container"></div>
    </div>

    <script src="/src/views/js/dashboard.js"></script>
</body>
</html>

dashboard