<!DOCTYPE html>
<html>
<head>
  <title>Histórico de Compras</title>
</head>
<body>
  <h2>Meus Ingressos</h2>
  <div id="historico-container">
    <script id="historico-template" type="x-tmpl-mustache">
      {{#ingressos}}
      <div>
        <h3>{{ticket.nome}}</h3>
        <p>Preço: {{ticket.preco}}</p>
        <p>Quantidade: {{quantidade}}</p>
        <a href="/ingresso/{{_id}}">Ver Detalhes</a>
      </div>
      {{/ingressos}}
    </script>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
  <script src="js/historico.js"></script>
</body>
</html>