{{#availableTickets}}
<div class="ingresso-card">
    <h3>{{nome}}</h3>
    <p>Preço Unitário: R$ {{preco}}</p>
    <p>Disponíveis: {{quantidade}}</p>
    
    <div class="compra-form">
        <input 
            type="number" 
            id="quantidade-{{_id}}" 
            min="1" 
            max="{{quantidade}}" 
            value="1"
            class="quantidade-input"
        >
        <button 
            class="btn-comprar"
            onclick="comprarIngresso('{{_id}}')"
            {{^quantidade}}disabled{{/quantidade}}
        >
            {{#quantidade}}Comprar{{/quantidade}}
            {{^quantidade}}Esgotado{{/quantidade}}
        </button>
    </div>
</div>
{{/availableTickets}}
{{^availableTickets}}
<p class="sem-ingressos">Nenhum ingresso disponível no momento</p>
{{/availableTickets}}